* {
	margin: 0px;
}
body {
	background: #dddddd;
}
#header {
	font-family: cursive;
	background-color: #dddddd;
	color: #2541b2;
	padding-left: 30px;
	font-family: sans-serif;
	font-size: 24px;
}

.submenu-content {
	position: absolute;
	z-index: -1;
    left:0;
    width:100%;
	transform: translateX(-3em);
	transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	visibility: hidden;
	opacity: 0%;
}
#nav {
	background-color: #0c4271;
	color: #2541b2;
	display: flex;
    justify-content: space-evenly;
}
li {
	display: inline-block;
	padding: 10px;
	margin-right: 50px;
	font-size: 24px;
	font-family: sans-serif;
	margin-left: 75px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}

#nav ul{
    width: 80%;
}



.submenu {
	display: inline-block;
	position: relative;
}


.dropdown-content:hover .submenu-content {
	display: block;
	transform: translateX(0);
	visibility: visible;
	opacity: 1;
    z-index: 1;
    transition-delay: 0s,0s,0.2s;
}


.submenu-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: #0c4271;
	font-size: 24px;
	font-family: sans-serif;
	color: rgb(10, 129, 171);
}


.chosen {
	background-color: #09015f;
	border-radius: 50px;
	text-decoration: none;
	color: #008891;
}
.purple {
	color: rebeccapurple;
}
#banner {
	display: flex;
	width: 100%;
	object-fit: cover;
	object-fit: cover;
	height: 450px;
	align-items: baseline;
	flex-shrink: unset;
}
a {
	text-decoration: none;
	color: rgb(10, 129, 171);
}
#dog {
	font-size: 50px;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	position: relative;
	top: -250px;
	color: rgb(92,52,143);
	left: -100px;
	font-weight: 600;
}
#inst1 {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 700;
	display: flex;
	justify-content: center;
	color: #2541b2;
}
.panel {
	width: calc(100% / 6);
	height: calc(width);
	margin-top: 50px;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.listimg {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
	border: solid;
}
.text {
	font-size: 24px;
	font-family: sans-serif;
}
/* z-index should be set to be -1 at first so that it will be in the back of the container 
Also, the transition should define the effects for visibility and z-index for smooth purpose.
*/
.dropdown-content {
	position: absolute;
	z-index: -1;
    top:100%;
    left:0;
    width:100%;
	transform: translateY(-3em);
	transition: all 0.3s ease 0s, visibility 0s linear, z-index 0s linear 0.01s;
	visibility: hidden;
	opacity: 0%;
}
/* 
    Add the delay for the z-index because we don't want it be front of the "All Pets" text so soon.
*/
.dropdown:hover .dropdown-content {
	display: block;
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
    z-index: 1;
    transition-delay: 0s,0s,0.2s;
}


.dropdown {
	display: inline-block;
	position: relative;
}


.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: #0c4271;
	font-size: 24px;
	font-family: sans-serif;
	color: rgb(10, 129, 171);
}

#footer {
	background: rgb(214, 201, 171);
	margin-top: 50px;
	padding-top: 50px;
}
#footer_child1 {
	font-size: 50px;
	font-family: sans-serif;
	font-weight: 600;
	
}
#footer_child2 {
	font-size: 25px;
	font-weight: 600;
	font-family: sans-serif;
	position: absolute;
	left: 300px;
	bottom: -500px;

}
.sponsors{
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 600;
	
}
.rescuers{
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 600;
	
}
#firstr{
	position:relative;
	left: 550px;
	bottom: -35px;
}
@media screen and (max-width: 600px){
	.container{
		flex-wrap: wrap ;
	}
	.listimg{
		flex-wrap: wrap;
	}
	.panel{
		flex-wrap: wrap;
	}




}

