* {
	margin: 0px;
}
body {
	background: #dddddd;
}
#header {
	font-family: cursive;
	background-color: #dddddd;
	color: #2541b2;
	padding-left: 30px;
	font-family: sans-serif;
	font-size: 24px;
}
nav {
	background-color: #0c4271;
	color: #2541b2;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 600;
}
li{
	font-family: sans-serif;
	font-size: 24px;

}
.chosen {
	background-color: #09015f;
	border-radius: 50px;
	text-decoration: none;
	color: #008891;
}
.purple {
	color: rebeccapurple;
}
#banner {
	display: flex;
	width: 100%;
	object-fit: cover;
	object-fit: cover;
	height: 450px;
	align-items: baseline;
}
a {
	text-decoration: none;
	color: rgb(10, 129, 171);
}
#dog {
	font-size: 50px;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	position: relative;
	top: -250px;
	color: rgb(92,52,143);
	left: -100px;
	font-weight: 600;
}
#inst1 {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 700;
	display: flex;
	justify-content: center;
	color: #2541b2;
}
.panel {
	width: calc(100% / 6);
	height: calc(width);
	margin-top: 50px;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.listimg {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
	border: solid;
}
.text {
	font-size: 24px;
	font-family: sans-serif;
}
.dropdown {
	display: inline-block;
	position: relative;
}

/* z-index should be set to be -1 at first so that it will be in the back of the container 
Also, the transition should define the effects for visibility and z-index for smooth purpose.
*/
.dropdown-content {
	position: absolute;
	z-index: -1;
    top:100%;
    left:0;
    width:100%;
	transform: translateY(-3em);
	transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	visibility: hidden;
	opacity: 0%;
}
/* 
    Add the delay for the z-index because we don't want it be front of the "All Pets" text so soon.
*/
.dropdown:hover .dropdown-content {
	display: block;
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
    z-index: 1;
    transition-delay: 0s,0s,0.2s;
}


.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background-color: #0c4271;
	font-size: 24px;
	font-family: sans-serif;
	color: rgb(10, 129, 171);
}


#footer {
	position: relative;
	background: rgb(214, 201, 171);
}
#footer_child1 {
	font-size: 50px;
	font-family: sans-serif;
	font-weight: 600;
	background-color: rgb(214, 201, 171);
	
}
#footer_child2 {
	font-size: 25px;
	font-weight: 600;
	font-family: sans-serif;
	position: absolute;
	left: 300px;
	background-color: rgb(214, 201, 171);

}
.sponsors{
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 600;
	
}
.rescuers{
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 600;
	
}
#firstr{
	position:relative;
	left: 550px;
	bottom: -35px;
}
@media screen and (max-width: 600px){
	.container{
		flex-direction: column;
	}
	.listimg{
		flex-direction: column;
	}
}

#menu {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	font-size: 1.2rem;
}
#menu ul{
	padding:0;
	margin:0;

}

#menu li {
	list-style: none;
	float:left;
	position: relative;
}

#menu a {
	float:left;
	padding: 12px 30px;
}
#menu li:hover > a {
	background-color:#09015f;
}

#menu ul {
	padding:0px;
	background-color:#0c4271;
	position: absolute;
	z-index: 1;
    top: 42px;
	left: 0;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	opacity: 0%;
	margin: 20px 0 0 0;
}
#menu li:hover > ul{
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
    z-index: 1;
    transition-delay: 0s,0s,0.2s;
}


#menu ul ul {
	top:0;
	transform :translateX(-3rem);
	z-index: 1;
	left: 130px;
	margin:  0 0 0 20px;
}

#menu ul li {
	float:none;
	display:block;
}

#menu ul a{
	padding: 10px;
	width: 130px;
	display:block;
	white-space: nowrap;
	float:none;
}

#menu ul a :hover{
	background-color: #09015f;
}
.brown{
	color:rgb(81,42,63);
}
#Bird{
    font-size: 50px;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	position: relative;
	top: -250px;
	color: #342115;
	left: -200px;
	font-weight: 600;
}
#Rodents{
    font-size: 50px;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	position: relative;
	top: -250px;
	color: rgb(243,172,61);
	left: -300px;
	font-weight: 600;
}
.container2{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	margin:auto;
}
.panel2{
	width: calc(100% / 4);
	height: calc(width);
	margin-top: 50px;

}
.listimg2{
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
	border: solid;
}
#quote{
	font-family: sans-serif;
	font-size: 24px;
	background-color: #09015f;
	width: 80%;
	margin-left: 125px;
	color: white;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer_child3{
	background-color: rgb(214, 201, 171);
}
#parentdivf{
	background-color: rgb(214, 201, 171);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 600;
}
